<ul nz-list [nzDataSource]="items" nzBordered nzSize="large">
  <nz-list-header class="item-list__header">Contact book</nz-list-header>
  <li
    nz-list-item
    *ngFor="let item of items"
    nzNoFlex
    (click)="selectItem(item.id)"
    [class.selected]="isSelected(item.id)"
    class="item"
  >
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <h3 class="item__name">{{ item.name }}</h3>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        <div class="item-details">
          <div class="item-details__method">
            <span
              nz-icon
              nzType="mobile"
              nzTheme="outline"
              class="item-details__icon"
            ></span>
            {{ item.phone }}
          </div>
          <div class="item-details__method">
            <span
              nz-icon
              nzType="mail"
              nzTheme="outline"
              class="item-details__icon"
            ></span>
            {{ item.email }}
          </div>
        </div>
      </nz-list-item-meta-description>
    </nz-list-item-meta>
  </li>
</ul>
