<ul nz-list [nzDataSource]="contacts" nzBordered nzSize="large">
  <nz-list-header class="contact-list__header">Contacts</nz-list-header>
  <li nz-list-item *ngFor="let contact of contacts" nzNoFlex>
    <nz-list-item-meta>
      <nz-list-item-meta-title>
        <h3>{{ contact.name }}</h3>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        <div class="contact-details">
          <div class="contact-details__method">
            <span
              nz-icon
              nzType="mobile"
              nzTheme="outline"
              class="contact-details__icon"
            ></span>
            {{ contact.phone }}
          </div>
          <div class="contact-details__method">
            <span
              nz-icon
              nzType="mail"
              nzTheme="outline"
              class="contact-details__icon"
            ></span>
            {{ contact.email }}
          </div>
        </div>
      </nz-list-item-meta-description>
    </nz-list-item-meta>
  </li>
</ul>
