:root {
  //Color pallete
  --color-primary: #77C7D9;
  --color-primary--light: #77c7d93b;
  --color-primary--dark: #7394E6;

  --color-secondary: #FF761A;
  --color-secondary--light:#FFA366;
  --color-secondary--dark: #CC5E14;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #1b1b1b;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
}

  //Breakpoints
  $bp-largest: 87.6em;    // 1402px
  $bp-large: 82.85em;    // 1316px
  $bp-medium: 59em;   // 945px
  $bp-small-medium: 45.75em; // 732px
  $bp-small: 33.25em; // 520px
  $bp-smallest: 23.75em; //380px



